h1 {
  position: fixed;
  padding: calc(1.5vh + 12px) 0 ;
  padding-left: 2vw;
  width: 100%;
  color: rgb(37, 232, 31);
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  /* backdrop-filter: blur(20px); */
  z-index: 100;
}

h1 span {
  color: rgb(2, 205, 205);
  display: inline-block;
  /* margin-bottom: 19px; */
  position: relative;
  transform: translateY(-6px)
}