h1 {
  position: fixed;
  top: calc(1.5vh + 12px);
  left: 2vw;
  color: rgb(37, 232, 31);
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  backdrop-filter: blur(20px);
}

h1 span {
  color: rgb(2, 205, 205);
  display: inline-block;
  /* margin-bottom: 19px; */
  position: relative;
  transform: translateY(-6px)
}