body {
  /* background-image: linear-gradient(to right top, #deffff, #d1ffff, #c4ffff, #b5ffff, #a6ffff); */
  background-color: rgb(6, 9, 23);
}

h1 {
  position: fixed;
  padding: calc(1.5vh + 12px) 0 ;
  padding-left: 2vw;
  width: 100%;
  color: rgb(37, 232, 31);
  text-shadow: 0 2px 4px rgba(0,0,0,0.2);
  /* backdrop-filter: blur(20px); */
  z-index: 100;
  font-family: cursive
}

h1 span {
  color: rgb(2, 205, 205);
  display: inline-block;
  /* margin-bottom: 19px; */
  position: relative;
  transform: translateY(-6px)
}

h1::before {
  content: "";
  width: 184px;
  height: 3px;
  background-color: rgb(242, 101, 0);
  position: absolute;
  transform: translate(-2px ,48px);
  border-radius: 5px;
}