#experience {
  position: relative;
}
#experience span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  display: block;
  font-size: 30px;
  color: white;
  cursor: default;
}

#filter {
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translate(-50%, 0);
}
#filter button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  display: inline-block;
  border: 3px solid rgb(242, 101, 0);
  padding: 8px 10px;
  margin: 0 10px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.4s;
}
#filter button.selected {
  background-color: rgb(242, 101, 0);
}

#imgs-track:focus {
  outline: none;
}
#imgs-track.track {
  position: absolute;
  display: flex;
  gap: 4vmin;
  top: 50%;
  transform: translate(0, -50%);
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  padding: 0 calc(50% - 20.5vmin);
  scroll-behavior: smooth;
}
#imgs-track::-webkit-scrollbar {
  height: 8px;
  padding-top: 10px;
}
#imgs-track::-webkit-scrollbar-thumb {
  background-color: rgb(242, 101, 0);
  border-radius: 10px;
}
#imgs-track > img {
  height: 56vmin;
  width: 40vmin;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.6);
  object-position: right center;
  margin-bottom: 10px;
}
#imgs-track.tower {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  position: absolute;
  right: 3vmin;
  top: 50%;
  transform: translate(0, -50%);
}
#imgs-track.tower > img, #imgs-track.tower > button {
  height: 6.5vmin;
  width: 10vmin;
}
#imgs-track.tower > img {
  object-fit: cover;
  object-position: center center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
}
#imgs-track.tower > button {
  /* styling */
  background: rgba(242, 101, 0, 0.23);
  border: 1px solid rgb(242, 101, 0);
  color: rgb(242, 101, 0);
  font-size: 1em;
}

#left-arrow {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 200;
  height: 100px !important;
  width: 100px !important;
  border: none !important;
}

#viewed-image {
  /* glassy background */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  /* position */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-51%, -50%);
  /* dimensions */
  width: auto;
  /* internals */
  display: flex;
  padding: 2%;
  align-items: center;
  gap: 3%;
  color: white;
}
#viewed-image > img {
  max-width: 70vw;
  max-height: 60vh;
  border-radius: 16px;
}
#viewed-image > div {
  text-align: center;
  width: 400px;
}