:root {
  --imgSize: 29vw;
}

#home, #imgContainer, #imgBx, #mySelf {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  padding-bottom: 3vh;
}

#mySelf {
  margin-left: 2vw;
  flex: 1;
}

#content {
  max-width: 600px;
  aspect-ratio: 1.2/1;
  border-radius: 16% 84% 62% 38%/41% 54% 46% 59%;
  background-image: linear-gradient(to left top, #02cdcd, #00d7bd, #00df9d, #00e56e, #25e81f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px 25px 35px 60px;
  animation: floating 1.2s ease-in-out infinite alternate-reverse;
}
#content h3 {
  position: relative;
  font-size: 1.4em;
  color: rgb(30, 81, 68);
}
#content h3::before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgb(242, 101, 0);
  position: absolute;
  transform: translate(-290%, 0);
}
#content h2 {
  margin: 8px 0px 10px 0px;
  font-size: 2.4em;
}
#content p {
  font-size: 1.2em;
  line-height: 1.2em;
  color: rgb(45, 42, 56);
}
#content #download-cv {
  display: flex;
  justify-content: center;
  align-items: center;
}
#content #download-cv a {
  color: white;
  letter-spacing: 2px;
  font-size: 1.1em;
  text-decoration: none;
  background-color: rgb(242, 101, 0);
  border-radius: 35px;
  display: inline-block;
  padding: 1.1em 1.2em;
  width: fit-content;
  position: relative;
  transform: translate(-23%, 30px);
}

#imgContainer {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

/* the img box */
#imgBx {
  aspect-ratio: 1/1;
  height: calc(var(--imgSize) * 1);
  min-height: 270px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: height 0.5s, transform 0.5s;
  /* this is the imgBox before shape and its animation */
  /* the img itself */
}
#imgBx:hover {
  height: calc(var(--imgSize) * 1);
  transform: scale(1.1);
}
#imgBx:hover::before {
  width: 70%;
}
#imgBx::before {
  content: "";
  height: 110%;
  width: 110%;
  background-image: linear-gradient(to left top, #02cdcd, #00d7bd, #00df9d, #00e56e, #25e81f);
  position: absolute;
  transition: height 0.5s, width 1s;
  animation: animate 2s linear infinite;
}
#imgBx img {
  width: 98%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes floating {
  from {
    transform: translateY(-0.5%);
  }
  to {
    transform: translateY(0.5%);
  }
}