.hide-left-1, .hide-right-1, .hide-2 {
  filter: blur(20px);
  opacity: 0;
}

.hide-left-1 {
  transform: translateX(-50%);
}

.hide-right-1 {
  transform: translateX(50%);
}

.hide-2 {
  transform: translateY(20%);
}

.show-1, .show-2 {
  filter: blur(0);
  opacity: 1;
  transition: all 1s;
}

.show-1 {
  transform: translateX(0);
  transition-delay: 0.2s;
}

.show-2 {
  transform: translateY(0);
}