@import 'colors';
:root {
  --imgSize: 29vw;
}

#home, #imgContainer, #imgBx, #mySelf {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  padding-bottom: 3vh;
}

#mySelf {
  margin-left: 2vw;
  flex: 1;
}

#content {
  max-width: 600px;
  aspect-ratio: 1.2/1;
  border-radius: 16% 84% 62% 38% / 41% 54% 46% 59%;
  background-image: linear-gradient(to left top, #02cdcd, #00d7bd, #00df9d, #00e56e, #25e81f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 20px 25px 35px 60px;
  animation: floating .8s ease-in-out infinite alternate-reverse;

  h3 {
    position: relative;
    font-size: 1.4em;
    color: rgb(30, 81, 68);

    &::before {
      content: "";
      width: 3px;
      height: 100%;
      background-color: $orange;
      position: absolute;
      transform: translate(-290%,0);
    }
  }

  h2 {
    margin: 8px 0px 10px 0px;
    font-size: 2.4em;
  }

  p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: rgb(45, 42, 56);
  }

  #download-cv {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: white;
      letter-spacing: 2px;
      font-size: 1.1em;
      text-decoration: none;
      background-color: $orange;
      border-radius: 35px;

      display: inline-block;
      padding: 1.1em 1.2em;
      width: fit-content;
      position: relative;
      transform: translate(-23%, 30px);
    }
  }
}

#imgContainer {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

/* the img box */
#imgBx {
  aspect-ratio: 1/1;
  height: calc( var(--imgSize) * 1.0 );
  min-height: 270px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: height 0.5s, transform 0.5s;

  &:hover {
    height: calc( var(--imgSize) * 1.0 );
    transform: scale(1.1);

    &::before {
      width: 70%;
    }
  }

  /* this is the imgBox before shape and its animation */
  &::before {
    content: "";
    height: 110%;
    width: 110%;
    background-image: linear-gradient(to left top, #02cdcd, #00d7bd, #00df9d, #00e56e, #25e81f);
    position: absolute;
    transition: height .5s, width 1s;
    animation: animate 2s linear infinite;
  }

  /* the img itself */
  img {
    width: 98%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes floating {
  from {
    transform: translateY(-0.4%);
  }
  to {
    transform: translateY(0);
  }
}