#skills, #skillsContainer .skillBox, .skillContent, .skillInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#skillsContainer {
  width: 80%;
  height: 80%;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(100px, 250px);
  gap: 6px;
  
  .skillBox {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    
    .skillContent {
      width: 97%;
      height: 97%;
      border-radius: 30px;
      position: relative;

      img {
        // object-position: center;
        max-height: 90%;
        max-width: 90%;
        opacity: 0.9;
        transition: opacity 0.4s, transform 0.4s;
      }
      
      &:hover img {
        opacity: 1;
        transform: scale(1.1);
      }
    }
        
    &:nth-child(1)
    {
      grid-column: span 1;
      grid-row: span 2;
      background-color: #8ec4fc;
    }
    &:nth-child(2)
    {
      background-color: #f9f9f9;
    }
    &:nth-child(3)
    {
      background-color: #6084a1;
      border-color: rgba(255, 255, 255, 0.2);
    }
    &:nth-child(4)
    {
      grid-column: span 1;
      grid-row: span 2;
      background-color: #000000;
      border-color: rgba(255, 255, 255, 0.2);
    }
    &:nth-child(5)
    {
      grid-column: span 2;
      grid-row: span 2;
      background-color: papayawhip;
    }
    &:nth-child(6)
    {
      background-color: #ffffff;
    }
    &:nth-child(7)
    {
      background-color: #F46275;
    }
    &:nth-child(8)
    {
      grid-column: span 2;
      grid-row: span 1;
      background-color: #FFBF54;
    }
    &:nth-child(9)
    {
      background-color: #a1dbff;
    }
    &:nth-child(10)
    {
      background-color: #18ffc5;
    }
  }
}


.skillInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 20px;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.7s;
}

.showSkillInfo {
  opacity: 1;
}

#GIT, #CPP, #JAVA {
  color: white;
}