@import 'colors';

#testimonies {
  z-index: 2;
  margin-bottom: 12vh;

  h2 {
    text-align: center;

    &:nth-child(1) {
      color: $cyan;
    }
    &:nth-child(2) {
      color: $green;
    }
  }

  .testimonies-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(3, 290px);
    justify-content: center;
    gap: 20px;

    .testCard {
      background-color: white;
      border-radius: 15px;
      padding: 12px 25px;

      .stars {
        padding: 7px 0;

        img {
          transform: scale(0.8);
          margin-right: 3px;
        }
      }

      .reviewer {
        display: flex;
        padding-top: 12px;

        .rev-img {
          aspect-ratio: 1/1;
          width: 43px;
          margin-right: 8px;

          img {
            width: 100%;
            border-radius: 50%;
          }
        }

        .rev-name {
          margin-bottom: 3px;
        }
        .rev-postion {
          color: gray;
        }
      }
    }
  }
}